<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thakur.randomplayer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application

        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeLight" />

        <service
            android:name=".Services.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".PlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:screenOrientation="portrait"
            android:name=".AlbumContentList"
            android:label="@string/title_activity_album_content_list" />
        <activity android:name=".Welcome" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayList"
            android:theme="@style/Mytheme" />
        <activity android:name=".PlayListList" />
        <activity android:name=".BaseActivity.BaseServiceActivity" />
        <activity android:name=".BaseActivity.BaseThemedActivity" />
        <activity android:name=".BaseActivity.SettingsActivity" />
        <activity android:name=".BaseActivity.SearchActivity" />

    </application>

</manifest>